.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgot-password-wrapper {
  text-align: right;
}

.forgot-password-link {
  font-size: 0.875rem;
  color: #db3f59;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: white;
  background-color: #db3f59;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.submit-button:hover {
  opacity: 0.9;
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-wrapper input {
  padding-left: 45px; 
  padding-right: 45px;
}

.input-wrapper:not(:has(.input-right-button)) input {
  padding-right: 12px;
}